.profile-image img {
  height: auto;
  width: 100%;
}
a {
  text-decoration: none !important;
}
.btn-link {
  text-decoration: none !important;
  color: #ffffff !important;
}
.btn-link:hover {
  color: #ffffff;
}
.dashboard-card-link {
  text-decoration: none;
  color: #000000;
}
.dashboard-card-link:hover {
  color: rgba(131, 1, 81, 0.658);
}
