.profile-image img {
  height: auto;
  width: 100%;
}
a,
.nav-btn-link {
  text-decoration: none;
  color: #000000;
}
.btn-link {
  text-decoration: none;
  color: #ffffff;
}
.nav-btn-link:hover,
.btn-link:hover {
  color: #ffffff;
}
