{% extends 'mysite/base.html' %} 
{% load i18n %}
{% block title %}
<title>{% translate 'Vaccine List' %}</title>
{% endblock title %} {% block content %}
<div class="mt-3">
  <div class="d-flex align-items-center justify-content-between">
    <h3 class="text-center">
      <i class="fa-solid fa-syringe"></i> Vaccine List
    </h3>
    {% if perms.vaccine.add_vaccine %}
    <a href="{% url 'vaccine:vaccine-create' %}"><i class="fa-solid fa-plus"></i> {% translate 'Create Vaccine' %}</a>
    {% endif %}
  </div>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">{% translate 'Vaccine Name' %}</th>
        <th scope="col">{% translate 'Number of Doses' %}</th>
        <th scope="col">{% translate 'Interval' %}</th>
        <th scope="col">{% translate 'Minimum Age' %}</th>
        <th scope="col">{% translate 'Storage Temperature' %}</th>
      </tr>
    </thead>
    <tbody>
      {% for vaccine in object_list %}
      <tr>
        <td>
          <a href="{% url 'vaccine:vaccine-detail' vaccine.id %}">{{vaccine.name|upper}}</a>
        </td>
        <td>{{ vaccine.number_of_doses }}</td>
        <td>{{ vaccine.interval }}</td>
        <td>{{ vaccine.minimum_age }}</td>
        <td>{{ vaccine.storage_temperature }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; {% translate 'First' %}</a>
            <a href="?page={{ page_obj.previous_page_number }}">{% translate 'Previous' %}</a>
        {% endif %}

        <span class="current">
          {% translate 'Page' %} {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">{% translate 'Next' %}</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">{% translate 'Last' %} &raquo;</a>
        {% endif %}
    </span>
</div>
</div>
{% endblock content %}