{% extends 'mysite/base.html' %}
{% load i18n %}
{% block title %}
<title>Vaccine Details</title>
{% endblock title %}
{% block content %}
<div class="card mb-3">
  <div class="row g-0">
    <div class="col-md-8">
      <div class="card-body m-sm-2 p-sm-2 m-md-4 p-md-4">
        <h5 class="card-title"><i class="fa-solid fa-syringe"></i> {% translate 'Vaccine Details' %}</h5>
        <p class="card-text">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            {% translate 'Vaccine Name' %}: {{ object.name }}
          </li>
          <li class="list-group-item">
            {% translate 'Description' %}: {{ object.description }}
          </li>
          <li class="list-group-item">
            {% translate 'Vaccine Name' %}: {{ object.number_of_doses }}
          </li>
          <li class="list-group-item">
            {% translate 'Storage Temperature' %}: {{ object.storage_temperature }}
          </li>
          <li class="list-group-item">
            {% translate 'Interval' %}: {{ object.interval }}
          </li>
          <li class="list-group-item">
            {% translate 'Minimum Age' %}: {{ object.minimum_age }}
          </li>
        </ul>
        </p>

        <div class="link-container">
          {% if perms.vaccine.change_vaccine %}
          <button class="btn btn-sm btn-success">
            <a href="{% url 'vaccine:vaccine-update' object.id %}" class="btn-link"><i class="fa-solid fa-pen"></i>
              {% translate 'Update Vaccine' %}</a>
          </button>
          {% endif %}
          {% if perms.vaccine.delete_vaccine %}
          <button class="btn btn-sm btn-danger">
            <a href="{% url 'vaccine:vaccine-delete' object.id %}" class="btn-link"><i
                class="fa-solid fa-trash-can"></i> {% translate 'Delete Vaccine' %}</a>
          </button>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}