{% extends 'mysite/base.html' %}
{% load i18n %}
{% block title %}
<title>{% translate 'Choose Vaccine' %}</title>
{% endblock title %}
{% block content %}
<div class="mt-3">
  <div class="d-flex align-items-center justify-content-between">
    <h3 class="text-center">{% translate 'Choose Your' %} <i class="fas fa-syringe"></i> {% translate 'Vaccine' %}</h3>
  </div>
  <table class="table table-responsive table-hover">
    <thead>
      <tr>
        <th scope="col">{% translate 'Name' %}</th>
        <th scope="col">{% translate 'Number of Doses' %}</th>
        <th scope="col">{% translate 'Interval' %}</th>
        <th scope="col">{% translate 'Confirm' %}</th>
      </tr>
    </thead>
    <tbody>
      {% for vaccine in page_obj %}
      <tr>
        <td>{{ vaccine.name|upper }}</td>
        <td>{{ vaccine.number_of_doses }}</td>
        <td>{{ vaccine.interval }}</td>
        <td><a href="{% url 'vaccination:choose-campaign' vaccine.id %}" class="btn-sm btn-outline-primary">{% translate 'Select' %}</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  {% include "components/pagination.html" %}
  
</div>
{% endblock content %}