{% extends 'mysite/base.html' %}
{% load i18n %}
{% block title %}
<title>{% translate 'Confirm Vaccination' %}</title>
{% endblock title %}

{% block content %}
<div class="card mb-3">
  <div class="card-body">
    <h5 class="card-title mb-4">
      <i class="fas fa-calendar"></i> {% translate 'Profile Details' %}
    </h5>
    <div class="container">
      <div class="row">

        <div class="row mb-1">
          <div class="col-5 col-md-4 fw-bold">
            {% translate 'Patient Name' %}
          </div>
          <div class="col-7 col-md-8">
            {{ patient.get_full_name }}
          </div>
        </div>

        <div class="row mb-1">
          <div class="col-5 col-md-4 fw-bold">
            {% translate 'Email' %}
          </div>
          <div class="col-7 col-md-8">
            {{ patient.email }}
          </div>
        </div>

        <div class="row mb-1">
          <div class="col-5 col-md-4 fw-bold">
            {% translate 'Gender' %}
          </div>
          <div class="col-7 col-md-8">
            {{ patient.gender }}
          </div>
        </div>

        <div class="row mb-1">
          <div class="col-5 col-md-4 fw-bold">
            {% translate 'Date of Birth' %}
          </div>
          <div class="col-7 col-md-8">
            {{ patient.date_of_birth }}
          </div>
        </div>

        <div class="row mb-1">
          <div class="col-5 col-md-4 fw-bold">
            {% translate 'Blood Group' %}
          </div>
          <div class="col-7 col-md-8">
            {{ patient.blood_group }}
          </div>
        </div>

        <div class="row mb-1">
          <div class="col-5 col-md-4 fw-bold">
            {{ patient.identity_document_type }}
          </div>
          <div class="col-7 col-md-8">
            {{ patient.identity_document_number }}
          </div>
        </div>

        <div class="row mb-1">
          <div class="col-5 col-md-4 fw-bold">
            {% translate 'Vaccine' %}
          </div>
          <div class="col-7 col-md-8">
            {{ campaign.vaccine.name }}
          </div>
        </div>

        <div class="row mb-1">
          <div class="col-5 col-md-4 fw-bold">
            {% translate 'Scheduled Date' %}
          </div>
          <div class="col-7 col-md-8">
            {{ slot.date }}
          </div>
        </div>

        <div class="row mb-1">
          <div class="col-5 col-md-4 fw-bold">
            {% translate 'Reporting Time' %}
          </div>
          <div class="col-7 col-md-8">
            {{ slot.start_time }} - {{ slot.end_time}}
          </div>
        </div>

        <div class="row mb-1">
          <div class="col-5 col-md-4 fw-bold">
            {% translate 'Center Name' %}
          </div>
          <div class="col-7 col-md-8">
            {{ campaign.center.name }}
          </div>
        </div>

        <div class="row mb-1">
          <div class="col-5 col-md-4 fw-bold">
            {% translate 'Center Address' %}
          </div>
          <div class="col-7 col-md-8">
            {{ campaign.center.address}}
          </div>
        </div>

        <div class="row mb-1">
          {% if checks.items %}
          <div class="text-danger mt-3">
            {% for key, value in checks.items %}
            {% if key == "documents" %}
            {{ value }} <br>
            {% elif key == "age" %}
            {{ value }} <br>
            {% elif key == "dose" %}
            {{ value }} <br>
            {% elif key == "interval" %}
            {{ value }} <br>
            {% endif %}
            {% endfor %}
          </div>
          {% else %}
          <form method="POST" action="">
            {% csrf_token %} {{ form.as_p }}
            <button type="submit" class="btn btn-success m-3">
              <i class="fas fa-clock"></i> {% translate 'Schedule' %}
            </button>
          </form>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}