{% extends 'mysite/base.html' %}
{% block title %}
<title>Center Details</title>
{% endblock title %}
{% block content %}
<div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-8">
        <div class="card-body m-sm-2 p-sm-2 m-md-4 p-md-4">
          <h5 class="card-title">Center Details</h5>
          <p class="card-text">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    Name: {{ object.name }}
                </li>
                <li class="list-group-item">
                    Address: {{ object.address }}
                </li>
                <li class="list-group-item">
                    Storage:
                    <div class="d-flex flex-wrap">
                        {% for storage in storage_list %}
                        <div class="card text-dark bg-light me-3 mb-3" style="width:fit-content;">
                            <div class="card-header"><b>
                              <a href="{% url 'center:storage-detail' storage.id %}">{{ storage.vaccine.name|upper}}</a>
                            </b></div>
                            <div class="card-body row">
                          <div class="col-6 d-flex flex-column text-center">
                              <span><b>{{ storage.total_quantity }}</b></span>
                              <span>Total<br>Quantity</span>
                          </div>
                          <div class="col-6 d-flex flex-column text-center">
                            <span><b>{{ storage.booked_quantity }}</b></span>
                            <span>Booked<br>Quantity</span>
                          </div>
                        </div>
                    </div>
                    {% endfor %}
                    </div>
                    <button type="button" class="btn btn-sm btn-info me-2">
                      <a href="{% url 'center:storage-list' object.id %}" class="btn-link">View All</a>
                    </button>
                    {% if request.user.is_admin %}
                    <button type="button" class="btn btn-sm btn-primary me-2">
                      <a href="{% url 'center:storage-create' object.id %}" class="btn-link">Create Storage</a>
                    </button>
                    {% endif %}
                </li>
              </ul>
          </p>
          {% if request.user.is_admin %}
          <div class="link-container">
            <button class="btn btn-sm btn-success">
              <a href="{% url 'center:center-update' object.id %}" class="btn-link">Update Center</a>
            </button>
            <button class="btn btn-sm btn-danger">
              <a href="{% url 'center:center-delete' object.id %}" class="btn-link">Delete Center</a>
            </button>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
</div>
{% endblock content %}