{% extends 'mysite/base.html' %}
{% block title %}
<title>Agent Details</title>
{% endblock title %}
{% block content %}
<div class="m-sm-2 p-sm-2 m-md-4 p-md-4">
    <div class="card mb-3">
        <div class="row g-0">
          <div class="col-md-4 d-flex align-items-center justify-content-center">
            <img src="https://image.shutterstock.com/image-photo/head-shot-portrait-close-smiling-260nw-1714666150.jpg" class="profile-image img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body m-sm-2 p-sm-2 m-md-4 p-md-4">
              <h5 class="card-title">Agent Details</h5>
              <p class="card-text">
                <ul class="list-group list-group-flush">
                    <li class="row list-group-item">
                        <span class="fw-bold">Username:&nbsp&nbsp&nbsp&nbsp</span>{{ object.user.username }}
                    </li>
                    <li class="list-group-item">
                        <span class="fw-bold">First Name:&nbsp&nbsp&nbsp&nbsp&nbsp</span> {{ object.user.first_name }}
                    </li>
                    <li class="list-group-item">
                        <span class="fw-bold">Middle Name:&nbsp</span> {{ object.user.middle_name }}
                    </li>
                    <li class="list-group-item">
                        <span class="fw-bold">Last Name:&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</span> {{ object.user.last_name }}
                    </li>
                    <li class="list-group-item">
                        <span class="fw-bold">Gender:&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</span> {{ object.user.gender }}
                    </li>
                    <li class="list-group-item">
                        <span class="fw-bold">Agent Type:&nbsp&nbsp&nbsp&nbsp</span> {{ object.type }}
                    </li>
                    <li class="list-group-item">
                        <span class="fw-bold">Date Joined:&nbsp&nbsp&nbsp</span> {{ user.date_joined }}
                    </li>
                  </ul>
              </p>
              {% if request.user.is_admin %}
              <div class="link-container">
                <button class="btn btn-sm btn-success">
                  <a href="{% url 'accounts:agent-update' agent.id %}" class="btn-link">Update Agent</a>
                </button>
                <button class="btn btn-sm btn-danger">
                  <a href="{% url 'accounts:agent-delete' agent.id %}" class="btn-link">Delete Agent</a>
                </button>
              </div>
              {% endif %}
            </div>
          </div>
        </div>
    </div>
</div>
{% endblock content %}